<div id="form-mueble">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <form ng-submit="submit()" ng-controller="muebleController">
    <table id="form-1">
      <body>
        <tr>
          <td>
            <div class="nombre">
              <label for="nombre">Nombre(s) y Apellidos o Razon Social:</label>
              <input id="nombre" type="text" ng-model="nombrecompleto" class="validate" disabled>
            </div>
            <div class="categoria">
              <label for="categoria"><font color="red">* </font>Categoria:</label>
              <div class="select-wrapper">
                <select class="browser-default" for="categoria" ng-model="get_categoria" ng-change="categoriaSelected(get_categoria)">
                  <option value="" disabled selected>Elige una Categoria</option>
                  <option ng-repeat="i in categorias" value="{{'{{i.name}}'}}">{{'{{i.name}}'}}</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="domicilio">
              <label for="domicilio" >Domicilio:</label>
              <input id="domicilio" type="text" ng-model="domicilio" class="validate" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="ci">
              <label for="ci" >CI / NIT:</label>
              <input id="ci" type="text" ng-model="ci" class="validate" disabled>
            </div>
            <div class="emitido">
              <label for="emitido" >Emitido:</label>
              <input id="emitido" type="text" ng-model="emitido" class="validate" disabled>
            </div>
            <div class="periodo">
              <label for="periodo" class="active">Periodo:</label>
              <input id="periodo" type="text" ng-model="periodo_fecha" class="validate" disabled>
            </div>
            <div class="documento">
              <label for="documento">Documento:</label>
              <input ng-model="get_documento" type="radio" name="documento" value="dd jj original">DD JJ Original<br>
              <input ng-model="get_documento" type="radio" name="documento" value="folio">Folio<br>
            </div>
          </td>
        </tr>
      </body>
    </table>
    <br>

    <table id="form-2">
      <body>
        <label for="grado">DATOS BÁSICOS DE LA DECLARACIÓN JURADA QUE RECTIFICA</label>
        <tr>
          <td>
            <div class="res-admin">
              <label for="res-admin" >Nro. de resolución administrativa</label>
              <input id="res-admin" type="text" ng-model="resAdmin" class="validate" required>
            </div>
            <div class="formulario">
              <label for="formulario" >Formulario:</label>
              <input id="formulario" type="text" ng-model="formulario" class="validate">
            </div>
            <div class="nro-orden">
              <label for="nro-orden" class="active">Nro. de orden</label>
              <input id="nro-orden" type="text" ng-model="orden" class="validate" disabled>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label><font color="red">* </font>Grado de Parentesco:</label>
            <div class="select-wrapper">
              <select class="browser-default" for="gradoparentesco" ng-model="grado_parentesco" ng-change="gradoSelected(grado_parentesco)">
                <option value="" disabled selected>Elige un Grado</option>
                <option ng-repeat="i in gradoParentesco" value="{{'{{i.field_alicuota_porcentaje}}'}}">{{'{{i.name}}'}}</option>
              </select>
            </div>
          </td>
        </tr>
      </body>
    </table>

    <label for="grado">INFORMACION SOBRE LOS ACTUANTES EN LA OPERACION</label>
    <div id="actuantes">
      <div id="cedentes">
        <label for="cedentes"><font color="red">* </font>Enajenantes o Cedentes:</label>
        <a ng-click="add_cedentes()"><i class="medium material-icons">person_add</i></a>
        <a ng-click="remove_cedentes()"><i class="medium material-icons">delete</i></a>
        <table style="width:100%">
          <thead>
            <tr>
              <th>Seleccionar</th>
              <th>Nombre(s) y Apellidos o Denomicacion</th>
              <th>Domicilio</th>
              <th>Participacion (%)</th>
            </tr>
          </thead>
          <tbody ng-repeat="dato in datoLista">
            <tr>
              <td><input type="checkbox" ng-model="dato.isDelete"/></td>
              <td><input type="text" ng-model="dato.name"/></td>
              <td><input type="text" ng-model="dato.address"/></td>
              <td><input string-to-number type="number" step="0.01" min="0" ng-model="dato.porcent"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="cesionarios">
          <label for="cesionarios"><font color="red">* </font>Adquirientes o Cesionarios:</label>
          <a ng-click="add_cesionarios()"><i class="medium material-icons">person_add</i></a>
          <a ng-click="remove_cesionarios()"><i class="medium material-icons">delete</i></a>
          <table style="width:100%">
            <thead>
              <tr>
                <th>Seleccionar</th>
                <th>Nombre(s) y Apellidos o Denomicacion</th>
                <th>Domicilio</th>
                <th>Participacion (%)</th>
              </tr>
            </thead>
            <tbody ng-repeat="data in dataList">
              <tr>
                <td><input type="checkbox" ng-model="data.isDelete"/></td>
                <td><input type="text" ng-model="data.name"/></td>
                <td><input type="text" ng-model="data.address"/></td>
                <td><input type="text" step="0.01" min="0" ng-model="porcentaje" disabled/></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div><br>

    <div id="datos_referentes">
      <label>DATOS REFERENTES AL MUEBLE QUE SE TRASMITE GRATUITAMENTE</label>
      <div>
        <label><input ng-model="datosReferentes" type="radio" value="motonave" ng-change="changeReferent(datosReferentes)">MOTONAVE</label> <br>
        <label><input ng-model="datosReferentes" type="radio" value="aeronave" ng-change="changeReferent(datosReferentes)">AERONAVE</label> <br>
        <label><input ng-model="datosReferentes" type="radio" value="cuotas y otros" ng-change="changeReferent(datosReferentes)">CUOTAS DE CAPITAL, OTROS BIENES MUEBLES Y DERECHOS</label> <br>
        <label><input ng-model="datosReferentes" type="radio" value="vehiculos" ng-change="changeReferent(datosReferentes)">VEHÍCULOS</label> <br>
      </div>
      <fieldset ng-show="showMotonave">
        <label>Motonave</label>
        <div class="motonave">
          <div class="nombre">
            <label for="nombre">Tipo de casco</label>
            <input id="nombre" type="text" ng-model="moTipoCasco" class="validate" ng-change="getReferente()">
          </div>
          <div class="categoria">
            <label for="nombre">Eslora</label>
            <input id="nombre" type="text" ng-model="moEslora" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Material de construcción</label>
            <input id="nombre" type="text" ng-model="moMaterial" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Potencia de motor</label>
            <input id="nombre" type="text" ng-model="moPotenciaMotor" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Matricula</label>
            <input id="nombre" type="text" ng-model="moMatricula" class="validate" ng-change="getReferente()">
          </div>
        </div>
      </fieldset>
      <fieldset ng-show="showAeronave">
        <label>Aeronave</label>
        <div class="aeronave">
          <div class="nombre">
            <label for="nombre">Marca</label>
            <input id="nombre" type="text" ng-model="aeroMarca" class="validate" ng-change="getReferente()">
          </div>
          <div class="categoria">
            <label for="nombre">Modelo</label>
            <input id="nombre" type="text" ng-model="aeroModelo" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Año</label>
            <input id="nombre" type="text" ng-model="aeroAnio" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Matricula</label>
            <input id="nombre" type="text" ng-model="aeroMatricula" class="validate" ng-change="getReferente()">
          </div>
        </div>
      </fieldset>
      <fieldset ng-show="showCuotas">
        <label>Cuotas de capital, otros bienes muebles y derechos</label>
        <div class="cuotas">
          <div class="nombre">
            <label for="nombre">Sujetos a registro</label>
            <input id="nombre" type="text" ng-model="cuotaRegistro" class="validate" ng-change="getReferente()">
          </div>
          <div class="categoria">
            <label for="nombre">Monto</label>
            <input id="nombre" type="number" min="0" ng-model="cuotaMonto" class="validate" ng-change="getReferente();calculateIncome()">
            <!--<input string-to-number type="number" step="0.01" min="0" ng-model="dato.porcent"/>-->
          </div>
        </div>
      </fieldset>
      <fieldset ng-show="showVehiculos">
        <label>Vehiculos</label>
        <div class="vehiculos">
          <div class="nombre">
            <label for="nombre">Tipo</label>
            <input id="nombre" type="text" ng-model="veTipo" class="validate" ng-change="getReferente()">
          </div>
          <div class="categoria">
            <label for="nombre">Marca</label>
            <input id="nombre" type="text" ng-model="veMarca" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Modelo</label>
            <input id="nombre" type="text" ng-model="veModelo" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Cilindrada</label>
            <input id="nombre" type="text" ng-model="veCilindrada" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Procedencia</label>
            <input id="nombre" type="text" ng-model="veProceden" class="validate" ng-change="getReferente()">
          </div>
          <div>
            <label for="nombre">Nro de placa</label>
            <input id="nombre" type="text" ng-model="vePlaca" class="validate" ng-change="getReferente()">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="city">
      <div id="departamento">
        <label>Departamento:</label>
        <select class="browser-default" for="departamento" ng-model="get_departamento" ng-change="deptoSelected(get_departamento)">
          <option value="" disabled selected>Elija un Departamento</option>
          <option ng-repeat="i in departamento" ng-if="i.name=='Cochabamba'" value="{{'{{i.tid}}'}}">{{'{{i.name}}'}}</option>
        </select>
      </div>

      <div id="localidad">
        <label>Localidad o Ciudad:</label>
        <select class="browser-default" for="localidad" ng-model="get_localidad" ng-change="localidadSelected(get_localidad)">
          <option value="" disabled selected>Elija una Localidad</option>
          <option ng-repeat="i in localidad" value="{{'{{i.tid}}'}}">{{'{{i.name}}'}}</option>
        </select>
      </div>

      <div id="cod_localidad">
        <label for="codigo_localidad">Codigo Localidad:</label>
        <input id="codigo_localidad" type="text" ng-model="get_codigo_localidad" class="validate" disabled>
      </div>
    </div>

    <div class="locality">
      <div id="alcaldia">
        <label for="alcaldia">Alcaldia:</label>
        <input id="alcaldia" type="text" ng-model="get_alcaldia" class="validate" disabled>
      </div>
      <div id="fecha-transmicion">
        <label for="fecha_transmicion" class="active"><font color="red">* </font>Fecha de la Transmision:</label>
        <input id="fecha_transmicion" type="date" class="datepicker picker__input" ng-model="fecha_transmicion" ng-change="dateTransmicionSelected(fecha_transmicion)">
      </div>
    </div>

    <div class="base-imponible">
      <div id="base-imponible" ng-show="!showCuotas">
        <label for="base_imponible"><font color="red">* </font>Base Imponible:</label>
        <input id="base_imponible" type="number" step="0.01" min="0" ng-model="get_base_imponible" class="validate" ng-change="baseImponibleSelected(get_base_imponible)">
      </div>

      <div id="base-imponible-update" ng-show="!showCuotas">
        <label for="base_imponible_update">Base Inponible Actualizada:</label>
        <input id="base-imponible-update" type="number" step="0.01" ng-model="get_base_imponible_update" class="validate" disabled>
      </div>

      <div id="alicuota">
        <label for="alicuota">Alicuota del Impuesto:</label>
        <input ng-model="alicuota" type="radio" name="alicuota" value="1" disabled>Ascendientes, descendientes o conyugue (1%)<br>
        <input ng-model="alicuota" type="radio" name="alicuota" value="10" disabled>Hermanos y sus descendientes (10%)<br>
        <input ng-model="alicuota" type="radio" name="alicuota" value="20" disabled>Otros colaterales (20%)<br>
      </div>
    </div>

    <div class="description-mueble">
      <div id="impuesto-mueble">
        <label for="impuesto">Impuesto a Pagar:</label>
        <input id="impuesto" type="number" min="0" ng-model="get_impuesto" class="validate" disabled>
      </div><br>

      <div id="description-mueble">
        <label for="description">Descripcion:</label>
        <textarea id="description" for="description" ng-model="get_description" rows="4" cols="60" disabled></textarea>
      </div>
    </div>

    <div class="date-mueble">
      <!--<div>
        <label for="estado">Estado:</label>
        <input ng-model="estado" type="radio" name="estado" value="guardado">Guardado<br>
        <input ng-model="estado" type="radio" name="estado" value="finalizado">Finalizado<br>
      </div>-->
      <div>
        <label for="fecha_actual" class="active">Fecha Actual:</label>
        <input id="fecha_actual" type="date" class="datepicker picker__input" ng-model="get_fecha_actual" disabled>
      </div>
      <div>
        <label for="fecha_pago" class="active">Fecha del Pago del Impuesto:</label>
        <input id="fecha_pago" type="date" class="datepicker picker__input" ng-model="get_fecha_pago" disabled>
      </div>
    </div>

    <br>
    <div id="guardar-mueble" class="col l12 m12 s12">
      <button class="btn-large waves-effect waves-light" type="submit" name="action"><i class="material-icons left"></i>Guardar</button>
      <br><br>
    </div>
  </form>
</div>
